{% extends 'base.html.twig' %}

{% block title %}Messages reçus{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/message.css') }}">
{% endblock %}

{% block body %}
<div class="container" style="margin-top: 0;">
  <h1>Messages reçus</h1>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Message</th>
        <th>Reçu le</th>
      </tr>
    </thead>
    <tbody>
      {% for msg in messages %}
      <tr>
        <td>{{ msg.name }}</td>
        <td>{{ msg.email }}</td>
        <td>{{ msg.message }}</td>
        <td>{{ msg.createdAt|date('d/m/Y H:i') }}</td>
      </tr>
      {% else %}
      <tr>
        <td class="no-message" colspan="4">Aucun message pour le moment.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
