{% extends 'base.html.twig' %}

{% block title %}Modifier l'objet {{ objet.name }}{% endblock %}

{% block body %}
<h1>✏️ Modifier {{ objet.name }}</h1>

{{ form_start(form) }}
  <div style="max-width: 600px;">
    {{ form_row(form.name) }}
    {{ form_row(form.type) }}
    {{ form_row(form.brand) }}
    {{ form_row(form.status) }}
    {{ form_row(form.location) }}
    {{ form_row(form.room) }}
    {{ form_row(form.lastUsedAt) }}
    {{ form_row(form.description) }}
  </div>

  <button type="submit" class="btn btn-success mt-3">💾 Sauvegarder</button>
  <a href="{{ path('app_objets') }}" class="btn btn-secondary mt-3">↩️ Retour</a>
{{ form_end(form) }}
{% endblock %}